.Northern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EEB2EE;
}

.Southern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7FFFD4;
}